<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの趣味は…</p>
</div>
<div class="post-container">
<div class="post">
    <% if @hobby.question == "1212" %>
    <h3>スポーツ</h3>
    <p>アクティブなあなたにおすすめ！！！！！！！</p>
    <p>球技では野球・サッカーがおすすめ！！！！！！</p>
    <p>初心者はランニング筋トレがおすすめ！！！！！！！</p>

    <% elsif @hobby.question == "1122" %>
    <h3>スポーツ観戦</h3>
    <p>アクティブなあなたにおすすめ！！！！！！！</p>
    <p>リラックス効果があるかも！？</p>

    <% elsif @hobby.question == "2123" %>
    <h3>料理</h3>
    <p>インドアで考えたいあなたにおすすめ！！！！！！</p>
    <p>ストレスを緩和してくれる効果があるかも！？</p>

    <% elsif @hobby.question == "1111" %>
    <h3>キャンプ</h3>
    <p>休日の1日を長く、有意義に過ごせる！！！！</p>
    <p>気持ちを落ち着かせてくれる</p>

    <% elsif @hobby.question == "1213" %>
    <h3>アウトドアレジャー</h3>
    <p>アクティブで思考力があるあなたにおすすめ！！！！</p>
    <p>自然の中でリラックスできる！</p>

    <% elsif @hobby.question == "1112" %>
    <h3>ショッピング</h3>
    <p>リフレッシュになる</p>
    <p>購入によりドーパミンが上昇し、快楽が感じるも、依存には注意！！！</p>

    <% elsif @hobby.question == "2122" %>
    <h3>ゲーム</h3>
    <p>最近ではプロになる人も！？</p>
    <p>万人受けしやすい趣味</p>

    <% elsif @hobby.question == "2111" %>
    <h3>資格</h3>
    <p>自分を高めることができる！！！！</p>
    <p>時間があれば司法試験・公認会計士を目指そう</p>

    <% elsif @hobby.question == "1123" %>
    <h3>フォトグラフィー</h3>
    <p>最近ではスマホの性能が上がって誰でもできる趣味に！！！！！</p>
    <p>映えスポットをめぐるのもいいかも！！！！！</p>

    <% elsif @hobby.question == "2112" %>
    <h3>投資</h3>
    <p>今の財産を大きく増やせるチャンス！！！！！</p>
    <p>ただし、ハイリスク・ハイリターンなので注意！！！！！</p>

    <% elsif @hobby.question == "2223" %>
    <h3>音楽を聴く</h3>
    <p>音楽を聞くことで、心の健康にいい！！！！！</p>
    <p>好きなアーティストを探すためにフェスに参加するのもあり！！！！！</p>

    <% elsif @hobby.question == "1211" %>
    <h3>楽器を弾く</h3>
    <p>楽器を弾くことは、脳を活性化させる！！！！！！</p>
    <p>和楽器に手を出すのもあり！！！！</p>

    <% elsif @hobby.question == "1221" %>
    <h3>旅行</h3>
    <p>旅行にいくことで、自分の知見を深めることができる！！！</p>
    <p>まずは国内旅行や隣県に行くのから初めて見てはどう？</p>

    <% elsif @hobby.question == "2213" %>
    <h3>植物栽培</h3>
    <p>風水的にもおすすめ！！！！</p>
    <p>サボテンはお世話が少ないから、おすすめ！！！</p>

    <% elsif @hobby.question == "2222" %>
    <h3>手芸</h3>
    <p>モノができることで成果がでて、モチベ↑↑</p>
    <p>ニードルフェルトが手軽でおすすめ！！！</p>

    <% elsif @hobby.question == "2121" %>
    <h3>プログラミング</h3>
    <p>最近では価値が向上し、大学生が一番やるべき趣味に！！！！</p>
    <p></p>
    <p></p>

    <% elsif @hobby.question == "2212" %>
    <h3>コレクション</h3>
    <p>高価なコレクションは資産にもなる！！！</p>
    <p>時計や靴、カードゲームの収集もあり！！！！</p>

    <% elsif @hobby.question == "1113" %>
    <h3>ファッション</h3>
    <p>着飾ることで、自分に自信がでる！！！！！</p>
    <p>単純にモテる！！！</p>

    <% elsif @hobby.question == "2221" %>
    <h3>絵を描く</h3>
    <p>画材は絵具から砂など幅広い（お手軽）！！！！！</p>
    <p>心を落ち着かせてくれる！！！！！</p>

    <% elsif @hobby.question == "1121" %>
    <h3>コレクション（アクティブ系）</h3>
    <p>御朱印集め、ご当地マンホールを撮ることがおすすめ！！！！</p>
    <p>土地ごとに違いが出て、オモシロイ！！！！！</p>

    <% elsif @hobby.question == "2113" %>
    <h3>芸術鑑賞</h3>
    <p>絵画や映画をみることで、感受性を豊かにできる</p>
    <p>自分の中で分析することにチャレンジ！！！！！！</p>

    <% elsif @hobby.question == "2211" %>
    <h3>コレクション</h3>
    <p>高価なコレクションは資産にもなる！！！</p>
    <p>時計や靴、カードゲームの収集もあり！！！！</p>

    <% elsif @hobby.question == "1223" %>
    <h3>ランニング</h3>
    <p>運動不足の</p>
    <p>モチベーションのために、有名なランニングシューズを買うのもいいかも</p>

    <% elsif @hobby.question == "1222" %>
    <h3>散歩</h3>
    <p>まずはこれから！！！！</p>
    <p>日常の細かい変化に気が付ける！！！！！</p>

    <% end %>

</div>

<div class="post-re">
    <%= link_to "投稿一覧に戻る", posts_path , class: "button"%>
</div>