<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの趣味は…</p>
</div>
<div class="post-container">
<div class="post">
    <% if @hobby.question == "1212" %>
    <h3>スポーツ</h3>
    <p>アクティブなあなたにおすすめ！！！！！！！</p>
    <p></p>

    <% elsif @hobby.question == "1122" %>
    <h3>スポーツ観戦</h3>
    <p>アクティブなあなたにおすすめ！！！！！！！</p>
    <p>リラックス効果がある</p>

    <% elsif @hobby.question == "2123" %>
    <h3>料理</h3>
    <p>インドアで考えたいあなたにおすすめ！！！！！！</p>
    <p>ストレスを緩和してくれる効果がある</p>

    <% elsif @hobby.question == "1111" %>
    <h3>キャンプ</h3>
    <p>休日の1日を長く、有意義に過ごせる！！！！</p>
    <p>気持ちを落ち着かせてくれる</p>

    <% elsif @hobby.question == "1213" %>
    <h3>アウトドアレジャー</h3>
    <p>アクティブで思考力があるあなたにおすすめ！！！！</p>
    <p>幸福感を得やすい</p>

    <% elsif @hobby.question == "1112" %>
    <h3>ショッピング</h3>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>

    <% elsif @hobby.question == "2122" %>
    <h3>ゲーム</h3>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>

    <% elsif @hobby.question == "2111" %>
    <h3>資格</h3>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>

    <% elsif @hobby.question == "1123" %>
    <h3>フォトグラフィー</h3>
    <p>きりりとした強めの香りが特徴的</p>
    <p>美容効果が高い</p>

    <% elsif @hobby.question == "2112" %>
    <h3>投資</h3>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>

    <% elsif @hobby.question == "2223" %>
    <h3>音楽を聴く</h3>
    <p>雄のジャコウジカの腹部にある香嚢から抽出した香料</p>
    <p>官能的で重い香り</p>

    <% elsif @hobby.question == "1211" %>
    <h3>楽器を弾く</h3>
    <p>マッコウクジラの結石から抽出した香料</p>
    <p>魅惑的で色気のある香り</p>

    <% elsif @hobby.question == "1221" %>
    <h3>旅行</h3>
    <p>甘いスパイスの香り</p>
    <p>香水のアクセントとしてよく使われる</p>

    <% elsif @hobby.question == "2213" %>
    <h3>植物栽培</h3>
    <p>甘くて官能的な香り</p>
    <p>上品で年齢を問わず人気が高い</p>

    <% elsif @hobby.question == "2222" %>
    <h3>手芸</h3>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>

    <% elsif @hobby.question == "2121" %>
    <h3>プログラミング</h3>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @hobby.question == "2212" %>
    <h3>コレクション</h3>
    <p>柑橘系の代表的な原料</p>
    <p>清涼感があり、爽やかな印象</p>

    <% elsif @hobby.question == "1113" %>
    <h3>ファッション</h3>
    <p>オレンジに似た柑橘系の果物</p>
    <p>リラックス効果がある</p>

    <% elsif @hobby.question == "2221" %>
    <h3>絵を描く</h3>
    <p>華やかで上品な香り</p>
    <p>ストレスを緩和してくれる効果がある</p>

    <% elsif @hobby.question == "1121" %>
    <h3>コレクション（アクティブ系）</h3>
    <p>御朱印、マンホール</p>
    <p>気持ちを落ち着かせてくれる</p>

    <% elsif @hobby.question == "2113" %>
    <h3>芸術鑑賞</h3>
    <p>爽やかなのに官能的な香り</p>
    <p>幸福感を得やすい</p>

    <% elsif @hobby.question == "2211" %>
    <h3>コレクション</h3>
    <p>時計、フィギュア</p>
    <p>アンチエイジングにも最適</p>

    <% elsif @hobby.question == "1223" %>
    <h3>ランニング</h3>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>

    <% elsif @hobby.question == "1222" %>
    <h3>散歩</h3>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>

    <% end %>

</div>
<%= link_to "post一覧に戻る", posts_path %>