/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header-logooo{
  margin: 0 auto;
  display: flex;
}

.header-list{
 padding-left: 230px;
 color: #6A1DF2;
}

header {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  width: 100vw;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

header:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

header p {
  margin: 0;
  padding: 0;
}




.header-log a {
	background-color: white;
	border: 1px solid #27acd9;
	border-radius: 35px;
}

.header-log input[type="submit"] {
	background-color: white;
	border: 1px solid #27acd9;
	border-radius: 35px;
}

ul{
  padding-left:0;
  display: flex;
  justify-content: center;
  
  position: relative;
}

li{
  list-style:none;
}


.button {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 30px;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}

.p-button {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 30px;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}

.p-button:hover input[type="submit"]{
  color:  #27acd9;
	background: white;
}

.button input{
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: 0px;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}

.button:hover,
.button:hover input[type="submit"] {
	color: white;
	background: #27acd9;
}

.header-logo{
  display: flex;
}
