/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header-list {
    text-align: center;
    position: relative;
    
    margin: 1.5em 0;
    padding: 70px 100px;
    min-width: 120px;
    max-width: 100%;
    color: hotpink;
    font-size: 16px;
    background: #e0edff;
  }
  .header-list:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
  }
  
  .header-list p {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .header-log a {
	background-color: #ceb849;
	border: 1px solid #ceb849;
	border-radius: 35px;
}


ul{
  padding-left:0;
  display: flex;
  justify-content: center;
  
  position: relative;
}

li{
  list-style:none;
}

.button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  background-color: #ceb849;
	border: 1px solid #ceb849;
	border-radius: 35px;
}