// Place all the styles related to the hobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.start {
    text-decoration: none;
  background-color: transparent;
  border: none;
  background-color: #ceb849;
	border: 1px solid #ceb849;
	border-radius: 35px;
}