// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post {
    position: relative;
    padding: 10px 15px 10px 60px;
    box-sizing: border-box;
    font-style: italic;
    background: #e0edff;
    color: #555;
}

.post:before{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 15px;
    content: "\f10d";
    font-family: FontAwesome;
    color: #6A1DF2;
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
}

.post p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

.post cite {
    display: block;
    text-align: right;
    color: palevioletred;
    font-size: 0.9em;
}

.posts-ichiran{
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
